//- data/_data.pug

//- headタグ内に記述する情報

//- 全ページ共通情報
-
	const site = {
		"favicon_path": "",
		"favicon_path_app": "",
		"url": "",
		"name": "",
		"img_path": "",
		"img_width": "",
		"img_height": "",
		"color": "",
		"light_mode_color": "",
		"dark_mode_color": "",
	};

//- フォント読み込み
-
	const fonts = {
		"google_font": "https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@400;700&display=swap",
	};

//- CDN読み込み
-
	const cdn = {
		"swiper": "https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css",
	}

//- ページ別情報
-
	const meta = {
		"top": {
			"slug":"/",
			"title": "TOP Page | トップページのタイトル",
			"type": "website",
			"desc": "TOPページの説明",
			"path": "./",
		},
		"lower": {
			"slug":"/lower-page/",
			"title": "Lower Page | 下層ページのタイトル",
			"type": "article",
			"desc": "Lowerページの説明",
			"path": "../",
		},
	};
