//- data/_data.pug

//- headタグ内に記述する情報

//- 全ページ共通情報
-
	const site = {
		app_name: "",
		crawl_and_index: "noindex, nofollow",
		favicon_path: "favicon",
		favicon_path_app: "apple-touch-icon.png",
		url: "",
		name: "",
		facebook_app_ID: "",
		twitter_url: "",
		twitter_user_ID: "",
	};

//- フォント読み込み
-
	const fonts = {
		"google_font": "https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+JP:wght@400;700&display=swap",
	};

//- CDN読み込み
-
	const cdn = {
		"swiper": "https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css",
	}

//- ページ別情報
-
	const meta = {
		"top": {
			slug: "/",
			class: "top",
			title: "TOP Page | トップページのタイトル",
			color: "",
			light_mode_color: "",
			dark_mode_color: "",
			type: "website",
			desc: "TOPページの説明",
			path: "/",
			img_path: "",
			img_width: "1200",
			img_height: "630",
			twitter_card_size: "summary_large_image",
		},
		"lower": {
			slug:"/lower-page/",
			class: "lower",
			title: "Lower Page | 下層ページのタイトル",
			color: "",
			light_mode_color: "",
			dark_mode_color: "",
			type: "article",
			desc: "Lowerページの説明",
			path: "/",
			img_path: "",
			img_width: "1200",
			img_height: "630",
			twitter_card_size: "summary_large_image",
		},
	};
