@use '../variable' as *;
@use '../function' as *;

// レイアウト幅
$layout-inner: 1320px;

// ブレイクポイント
$breakpoints: (
  mb: 'screen and (max-width: 576px)',
  tb: '(min-width: 577px) and (max-width: #{$layout-inner - 1px})',
  pc: '(min-width: #{$layout-inner}) and (max-width: 1919px)',
  xl: 'screen and (min-width: 1920px)',
);

// mixin
@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
