@use '../../global' as *;

/**
 * c-title
 */

.c-title {
  font-family: $font-en-primary;
  padding-left: 100px;
  position: relative;
  &::before {
    content: attr(data-number);
    color: currentColor;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &::after {
    background-color: $accent-color-dark;
    content: '';
    width: fib(10);
    height: 1px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 33px;
    transform: translateY(-50%);
  }
}
