@use '../../global' as *;

/**
 * c-title
 */

.c-title {
  position: relative;
  padding-left: 100px;
  font-family: $font-en-primary;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    color: currentcolor;
    content: attr(data-number);
    transform: translateY(-50%);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 33px;
    display: inline-block;
    width: fib(10);
    height: 1px;
    content: '';
    background-color: $accent-color-dark;
    transform: translateY(-50%);
  }
}
