@use '../global' as *;

/**
 * l-header
 */

.l-header {
  padding: 20px 0;
}

.l-header__inner {
  display: grid;
  place-items: center;
  width: min(100% - 80px, 1280px);
  margin-inline: auto;
}

.l-header__title {
  font-size: rem(40);
  text-align: center;
}

.l-header__nav {
  margin-top: 20px;
  @include flex(space-between, center);
}

.l-header__nav-item + .l-header__nav-item {
  margin-left: 40px;
}
