// base color
$base-color-300: #fff;
$base-color-200: #ddd;
$base-color-100: #bbb;

// main color
$main-color-300: #333;
$main-color-200: #666;
$main-color-100: #999;

// accent color
$accent-color-300: #00f;
$accent-color-200: #4d4dff;
$accent-color-100: #99f;
$accent-color-dark: #0000b3;

// sub color - primary
$sub-color-primary-300: #f00;
$sub-color-primary-200: #ff4d4d;
$sub-color-primary-100: #f99;

// sub color - secondary
$sub-color-secondary-300: #0f0;
$sub-color-secondary-200: #80ff80;
$sub-color-secondary-100: #cfc;
